
header {
  background-color: #4CAF50; /* Green background color */
  color: rgb(89, 3, 3); /* White text color */
  padding: 10px; 
  margin-bottom: 20px;/* Add some padding for better spacing */
}

  h1 {
    text-align: center;
  }
  
  label {
   
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  select,
input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 25%;
  display: block;
  margin: 0 auto;
}

select:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #4CAF50; 
}

select {
  background-color: rgb(243, 239, 239);
}

input[type="number"] {
  background-color: #f9f9f9;
}

  
  button {
    padding: 20px 20px;
    background-color: #4CAF50;
    color: rgb(244, 237, 237);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #7fd1e0;
  }
  
  #countBtn {
    display: none; 
  }
  

  p {
    margin-bottom: 10px;
    text-align: center;
  }
  
  #progress span,
  #totalChants span {
    font-weight: bold;
    text-align: center;
  }
  
  
  #progress {
    text-align: center;
  }

  .eye-icon {
    cursor: pointer;
    font-size: 14px; /* Adjust the font size */
    position: absolute; /* Make the eye icon position absolute */
    top: 10px; /* Adjust the top position of the eye icon */
    right: 10px; /* Adjust the right position of the eye icon */
    border: 1px solid #f11818;
  }
  
  
  #visitor {
    position: fixed;
    top: 20px; 
    right: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right; /* Align content to the right */
  }
  
  #visitor span {
    cursor: pointer;
    margin-left: 5px;
  }
  
  /* Add this to position the visitor count container on the right side */
  
  @media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    button {
        padding: 15px 15px;
    }
}
footer {
  background-color: #333; /* Dark gray background color */
  color: white; /* White text color */
  padding: 10Spx; /* Add some padding for better spacing */
  text-align: center; /* Center align text in the footer */
}
.footer-content {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
.footer-content span {
  margin-left: 50px; /* Add margin between spans */
}
